<div class="form-group">
    <div style="padding: 5px">
        <span class="mb-3 pb-1">Class </span><input [(ngModel)]="m_class" />
        <button class="button" (click)="getStudents(m_class)">Search</button>
    </div>
    <table class="table table-striped table-bordered table-dark m-1">
        <thead class="bg-primary text-white">
            <tr><th>Name</th><th>Roll</th><th>Section</th><th>Father</th><th>Mother</th><th>Blood Group</th><th>Birth Date</th><th>GPA</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.name }}</td>
                <td>{{ student.roll }}</td>
                <td>{{ student.section }}</td>
                <td>{{ student.father }}</td>
                <td>{{ student.mother }}</td>
                <td>{{student.bloodGroup}}</td>
                <td>{{student.birthDate}}</td>
                <td>{{student.sscGpa}}</td>
            </tr>
        </tbody>
    </table>
</div>